*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
body{background-color:#f6f7fa;font-family: 'Roboto', sans-serif;font-size: 0.875rem;}
.cus_pad_10
{
    padding:0 10px 0 10px;
}
.cus_pad_5
{
    padding:0 5px 0 5px;
}
/* header */
.held_logo img{width: 125px;margin-left: 22px;}
.held_logo img.dvpr_logo{    width: 80px;position: absolute;left: 200px;top: 4px;}
.admin_name{color: #514d4d;
    padding: 0 22px 0 0;
    margin: 0 0 0 0;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    background-size: 13px;
    font-weight: 600;}
    .admin_login
    {
       align-items: center;
    }
    .admin_icon{margin: 0 0 0 12px;}
.admin_icon img{border-radius: 50%;width: 32px; box-shadow: 0 0px 2px 0 rgba(32, 32, 32, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.19);}

/* s */
#menuToggle {
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menuToggle input {
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
  }
  
  #menuToggle span{
    width: 28px;
    height: 3px;
    margin-bottom: 4px;
    background: #004aa6;
    border-radius: 3px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }
  
  #span1 {
    transform-origin: 4px 0px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(4px);
  }
  #menuToggle input:checked ~ #span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(3px);
  }
  #menuToggle input:checked ~ #span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
  }
/* e */
.top_head
{
    background-color: white;
    padding: 7px 30px 7px 30px;
    margin: 0 0 0 0;
}
/* header end */

/* nave */
.nav_cont
{
    background-color: #0969e2;
    position: relative;
    padding: 0 70px 0 70px;
    margin: 0 0 0 0;
    border-radius: 0px;
}
/* s */
nav {
    /* background-color: #1D1E22; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  #menu {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  
  #menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    padding: 15px 15px 15px 35px;
    display: block;
    position: relative;
    font-weight: 500;
  }
  #menu a:nth-child(1)
  {
    background-image: url(../images/menuicon1.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;
  }
  #menu a:nth-child(2)
  {
    background-image: url('../images/menuicon2.png');
    background-repeat: no-repeat;
    background-position: 12px 19px;
  }
  #menu a:nth-child(3)
  {
    background-image: url('../images/menuicon3.png');
    background-repeat: no-repeat;
    background-position: 14px 18px;
  }
  #menu a:nth-child(4)
  {
    background-image: url('../images/menuicon4.png');
    background-repeat: no-repeat;
    background-position: 10px 19px;
  }
  #menu a:nth-child(5)
  {
    background-image: url('../images/menuicon5.png');
    background-repeat: no-repeat;
    background-position: 14px 19px;
  }
  #menu a:nth-child(1).nav-active
  {
    background-image: url(../images/menuicon1_hover.png);
    background-position: 15px 18px;
  }
  #menu a:nth-child(2).nav-active
  {
    background-image: url(../images/menuicon2_hover.png);
    background-position: 15px 19px;
  }
  #menu a:nth-child(3).nav-active
  {
    background-image: url(../images/menuicon3_hover.png);
    background-position: 15px 19px;
  }
  #menu a:nth-child(4).nav-active
  {
    background-image: url(../images/menuicon4_hover.png);
    background-position: 15px 19px;
  }
  #menu a:nth-child(5).nav-active
  {
    background-image: url(../images/menuicon5_hover.png);
    background-position: 15px 19px;
  }
 
  #menu a:hover
  {
    font-weight: bold;
  }

  
  #menu a.nav-active {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    color: #084aa6;
    font-weight: 700;
    padding-left: 35px;
  }
/* e */
/* nave end */

/* fillternav */
.fillter_nav
{
    position: relative;
    padding: 7px 0 7px 0;
}
.nav_link
{
    display: flex;
    align-items: center;
}
.arrow_link
{
    text-decoration: none;
    color: #272d3b;
    font-weight: 900;
    font-size: 0.90rem;
}
.arrow_link img{
    width: 20px;
    margin-right: 7px;
}
.arrow_link:hover
{
    text-decoration: none;
    color: inherit;
}
.arrow_link svg{font-size:40px;}

.nav_rout
{
    color: #272d3b;
    font-weight: 900;
    font-size: 1.299rem;
    padding: 0 0 0 20px;
    margin-top: -2px;
}
.action_click
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dard_bt
{
    background-color: #0969e2;
    padding: 0 10px 0 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    line-height: 34px;
}
.dard_bt:hover
{
    text-decoration: none;
    color: white;
}
.creat_bt
{
    width: 120px;
    width: 140PX;
    line-height: 40px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.creat_bt img{    width: 13px;
    margin-top: -1px;
    margin-right: 6px;
}
.sub_pdo
{
    width: 160PX;
    line-height: 40px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_pdo img{   
    width: 14px;
    margin-top: -1px;
    margin-right: 20px;
    position: relative;
    left: 5px;
}
.edit_bt
{
    line-height: 30px;
    display: inline-block;
    width: 100px;
}
.pending_bt
{
    line-height: 28px;
    display: inline-block;
    width: 85px;
    background-color: #fed180;
    border-radius: 4px;
    color: #272d3b;
    font-size: 0.67rem;
}
.pending_bt:hover
{
    color: #272d3b;
}
.cancel_bt
{
    line-height: 30px;
    display: inline-block;
    width: 100px;
    background-color: #e84118;
}
.border_bt
{
    background-color: transparent;
    border: 1px solid #1069e2;
    color: #1069e2;
    width: auto;
}
.border_bt:hover
{
    color: #1069e2;
}
/* fillternav e */

/* filltertable */
.fillter_table
{
    position: relative;
    padding: 7px 0 7px 0;
}
.sort_by
{
    margin-left: 15px;
    background-color: #fff;
    width: 145px;
}
.date_rang_pic
{
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}
.date_rang_pic input
{
    border: none;
    padding-left: 15px;
    min-width: 277px;
    padding-right: 40px;
    outline: none;
    font-size: 0.85rem;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 9;
    background-color: transparent;
}
.date_rang_pic::after
{
    content: '';
    position: absolute;
    width: 2px;
    background: #f6f7fa;
    right: 40px;
    z-index: 99;
    height: 100%;
}
.date_rang_pic::before
{
    content: '';
    position: absolute;
    width: 40px;
    background: #ffffff;
    right: 0;
    z-index: 9;
    height: 100%;
    background-image: url(../images/date_icon.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.search_cont
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* s */
.search_box
{
    background-color: #fff;
    position: relative;
    padding: 0 40px 0 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search_box input
{
    border: none;
    outline: transparent;
    background-color: transparent;
    height: 36px;
    padding-left: 10px;
    width: 215px;
}
.search_click
{
    position: absolute;
    right: 12px;
    display: grid;
}
.search_click img{width: 18px;}
/* e */
/* fillter_table end */

/* perfectscrollbar */
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #0969e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: blue;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #0969e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}

     .perfect_cus_scroll {
        max-height: calc(100vh - 269px);
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: white;
      }

      /* s */
      #myTable_wrapper .row:nth-child(1)
      {
          display: none;
      }
      #example_wrapper .row:nth-child(1)
      {
          display: none;
      }
      .custom_table
      {
          margin-bottom: 0px;
          /* min-width: 1200px; */
          background-color: #fff;
      }
      .custom_table thead th
      {
          border-bottom: none;
          border-top: none;
          padding-top: 7px;
          padding-bottom: 7px;
          color: #272d3b;
          font-size: 0.84rem;
          vertical-align: top;
      }
      .custom_table thead tr th:last-child
      {
        position:sticky;
          right: 0;
          min-width: 129px;
          background-color: #fff;
      }
      .custom_table td
      {
        vertical-align: middle;
        color: #272d3b;
        font-size: 0.84rem;
        font-weight: 400;
        border-top: 1px solid #272d3b1c;
        word-break: break-word;
      }
      .sticky_col_th
      {
          position:sticky;
          right: 0;
          min-width: 200px;
          background-color: #fff;
      }
      .sticky_col_td
      {
          position:sticky;
          right: 0;
          background-color: #fff;
      }
      .dataTables_scrollHeadInner
      {
          width: 100% !important;
          border-bottom: 1px solid #272d3b1c;
      }
      /* div.dataTables_scrollHead table.dataTable
      {
          width: 100% !important;
          margin-top: 0px !important;
      } */
      table.dataTable tr th.select-checkbox.selected::after {
        content: "✔";
        margin-top: -11px;
        margin-left: -4px;
        text-align: center;
        text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
    }
    table.dataTable>thead .sorting:before, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before, table.dataTable>thead .sorting_desc_disabled:after
    {
      bottom:initial;
      top: 5px;
    }
      /* e */

      /* s */
      div.dataTables_wrapper div.dataTables_paginate ul.pagination
      {
        font-weight: 500;
    font-size: 12px;
      }
      .page-item:first-child .page-link
      {
        color: #000000 !important;
      }
      .page-link
      {
        color: #000000 !important;
      }
      .page-link:hover
      {
        color: #000000 !important;
      }
      .page-item.active .page-link
      {
        color: #fff !important;
        background-color: #2258bf;
      }
      
      /* e */

      .ind_no
      {
          color: #0969e2;
          text-decoration: underline;
      }
      .moving_lane{font-weight: 500;}

/* perfectscrollbar end */


/* S */
/*s*/
/*basic styling */
.contactForm {
    text-align: center;
    margin: auto;
    /* width: 300px; */
    /* padding-top: 15px; */
    box-sizing: border-box;
    width: 100%;
    display: block;
  }
  .contactForm > div.incont {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: block;
    /* margin-bottom: 20px; */
  }
  .contactForm > div.incont input,
  .contactForm > div.incont select,
  .contactForm > div.incont textarea {
    width: 100%;
    /* margin: 10px; */
    border: none;
    border: 1px solid rgb(246, 247, 250);
    padding: 0px 8px;
    transition: all .3s ease;
    outline: none !important;
    border-radius: 4px;
    font-weight: 400;
    padding-top: 15px;
  }
  .contactForm > div.incont input {
    height: 42px;
    position: relative;
    z-index: 9;
    background: transparent;
  }
  .contactForm > div.incont select {
    height: 42px;
    z-index: 9;
    position: relative;
    background: transparent;
  }
  .contactForm > div.incont textarea {
    height: 120px;
    padding-top: 20px;
  }
  .contactForm > div.incont label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    transition: all .3s ease;
    font-weight: 300;
    margin-left: 12px;
    padding-left: 0px;
    z-index: -0;
  }
  .contactForm > div.incont input:focus {
    border-color: #ff6291;
  }
  .contactForm > div.incont input:not(:placeholder-shown),
  .contactForm > div.incont select:not([value=""]),
  .contactForm > div.incont textarea:not(:placeholder-shown) {
    border-color: rgba(0, 0, 0, 0.09);
  }


  .contactForm > div.incont input:focus ~ label,
.contactForm > div.incont input:not(:placeholder-shown) ~ label,
.contactForm > div.incont select:not([value=""]):valid ~ label,
.contactForm > div.incont textarea:focus ~ label,
.contactForm > div.incont textarea:not(:placeholder-shown) ~ label{
    font-size: 12px;
    -ms-transform: translateY(-21px);
    -webkit-transform: translateY(-21px);
    -moz-transform: translateY(-21px);
    -o-transform: translateY(-21px);
    transform: translateY(-8px);
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 9;
  }
  
  /* label color on focused state */
  .contactForm > div.incont input:focus ~ label,
  .contactForm > div.incont select:focus ~ label,
  .contactForm > div.incont textarea:focus ~ label{
    color: #ff6291;
  }
  
  /* label color on filled state */
  .contactForm > div.incont input:not(:placeholder-shown) ~ label,
  .contactForm > div.incont select:not([value=""]):valid ~ label,
  .contactForm > div.incont textarea:not(:placeholder-shown) ~ label{
    color: rgba(0, 0, 0, 9);
  }
  
/*e*/


/*s*/
/*basic styling */
.sort_by_form {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  display: block;
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
}
.sort_by_form > div.incont {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: block;
  /* margin-bottom: 20px; */
}
.sort_by_form > div.incont input,
.sort_by_form > div.incont select,
.sort_by_form > div.incont textarea {
  width: 100%;
  /* margin: 10px; */
  border: none;
  border: 1px solid rgb(246, 247, 250);
  padding: 0px 8px;
  transition: all .3s ease;
  outline: none !important;
  border-radius: 4px;
  font-weight: 400;
  padding-top: 15px;
 
}
.sort_by_form > div.incont input {
  height: 42px;
  position: relative;
  z-index: 9;
  background: transparent;
}
.sort_by_form > div.incont select {
  height: 42px;
  z-index: 9;
  position: relative;
  background: transparent;
  padding-left: 40px;
  background-image: url(../images/sortbyfillter.png);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 20px;
}
.sort_by_form > div.incont textarea {
  height: 120px;
  padding-top: 20px;
}
.sort_by_form > div.incont label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  transition: all .3s ease;
  font-weight: 300;
  margin-left: 40px;
  padding-left: 0px;
  z-index: -0;
}
.sort_by_form > div.incont input:focus {
  border-color: #ff6291;
}
.sort_by_form > div.incont input:not(:placeholder-shown),
.sort_by_form > div.incont select:not([value=""]),
.sort_by_form > div.incont textarea:not(:placeholder-shown) {
  border-color: rgba(0, 0, 0, 0.09);
}


.sort_by_form > div.incont input:focus ~ label,
.sort_by_form > div.incont input:not(:placeholder-shown) ~ label,
.sort_by_form > div.incont select:not([value=""]):valid ~ label,
.sort_by_form > div.incont textarea:focus ~ label,
.sort_by_form > div.incont textarea:not(:placeholder-shown) ~ label{
  font-size: 12px;
  -ms-transform: translateY(-21px);
  -webkit-transform: translateY(-21px);
  -moz-transform: translateY(-21px);
  -o-transform: translateY(-21px);
  transform: translateY(-8px);
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 9;
}

/* label color on focused state */
.sort_by_form > div.incont input:focus ~ label,
.sort_by_form > div.incont select:focus ~ label,
.sort_by_form > div.incont textarea:focus ~ label{
  color: #ff6291;
}

/* label color on filled state */
.sort_by_form > div.incont input:not(:placeholder-shown) ~ label,
.sort_by_form > div.incont select:not([value=""]):valid ~ label,
.sort_by_form > div.incont textarea:not(:placeholder-shown) ~ label{
  color: rgba(0, 0, 0, 9);
}

/*e*/
/* E */

/* s */
.nav-progress {
    display: table;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 50px;
    border: 2px solid #e8e8e8;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* background-color: #fff; */
  }
  .nav-progress > div {
    position: relative;
    display: table-cell;
    padding: 14px 0;
    color: #880E4F;
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.25em;
    padding-left: 40px;
    font-weight: 500;
  }
  .nav-progress > div.check_done {
   background-image: url(../images/check_icon.png);
   background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
  }
  .nav-progress > div.complete {
    background-color: #0969e2;
    color: #FFF;
  }
  .nav-progress > div.complete .arrow {
    border: 1px solid #f6f7fa!important;
    background: #0969e2 !important;
  }
  .nav-progress > div.active {
    background-color: #EC407A;
    color: #FFF;
  }
  .nav-progress > div.active .arrow {
    background: #EC407A !important;
  }
  
  .arrow-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .arrow-wrapper .arrow-cover {
    position: absolute;
    overflow: hidden;
    width: 24px;
    height: 50px;
  }
  .arrow-wrapper .arrow-cover .arrow {
    position: absolute;
    left: -34px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 2px solid #e8e8e8;
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* e */


/* Create Indent s */
.cr_en_con
{
    background-color: #fff;
    padding: 20px 50px 0px 50px;
}
.cr_en_con.cross_dock
{
    background-color: rgba(228, 228, 228, 0.5);
    padding: 10px 50px 0px 50px;
}
.cr_en_con.order_details
{
    background-color: transparent;
    padding:0;
}
.indent_no
{
    color: #272d3b;
    font-size: 1.0500rem;
    font-weight: 900;
}
.eta_no
{
    color: #30e221;
    font-size: 1.0500rem;
    font-weight: 900;
}
.eta_no.color_red
{
  color: #e22121;
  
}

/* s */
.cr_form_con
{
    margin-left: -10px;
    margin-right: -10px;
}
.cr_form_con_5
{
    margin-left: -5px;
    margin-right: -5px;
}
/* e */

/*s*/
/*basic styling */
.cr_in_d_form {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    display: block;
  }
  .cr_in_d_form > div.incont {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 4px;
  }
  .cr_in_d_form > div.incont.bg_white
  {
      background-color: #fff;
  }
  .cr_in_d_form > div.incont input,
  .cr_in_d_form > div.incont select,
  .cr_in_d_form > div.incont textarea {
    width: 100%;
    /* margin: 10px; */
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.09);
    padding: 0px 12px;
    transition: all .3s ease;
    outline: none !important;
    border-radius: 4px;
    font-weight: 500;
    padding-top: 16px;
  }
  .cr_in_d_form > div.incont input {
    height: 48px;
    position: relative;
    z-index: 9;
    background: transparent;
  }
  .cr_in_d_form > div.incont select {
    height: 42px;
    z-index: 9;
    position: relative;
    background: transparent;
    padding-left: 8px;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: right 15px bottom 15px;
  }
  .cr_in_d_form > div.incont textarea {
    height: 120px;
    padding-top: 20px;
  }
  .cr_in_d_form > div.incont label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 14px;
    transition: all .3s ease;
    font-weight: 400;
    margin-left: 11px;
    padding-left: 0px;
    z-index: 1;
    color: #03030385;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    text-align: left;
  }
 
  .cr_in_d_form > div.incont input:not(:placeholder-shown),
  .cr_in_d_form > div.incont select:not([value=""]),
  .cr_in_d_form > div.incont textarea:not(:placeholder-shown) {
    border-color: rgba(0, 0, 0, 0.09);
  }
  .cr_in_d_form > div.incont input:focus {
    border-color:  rgba(0, 0, 0, 0.2);
  }

  .cr_in_d_form > div.incont input:focus ~ label,
.cr_in_d_form > div.incont input:not(:placeholder-shown) ~ label,
.cr_in_d_form > div.incont select:not([value=""]):valid ~ label,
.cr_in_d_form > div.incont textarea:focus ~ label,
.cr_in_d_form > div.incont textarea:not(:placeholder-shown) ~ label{
    font-size: 12px;
    font-weight: 400;
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 9;
  }
  
  /* label color on focused state */
  .cr_in_d_form > div.incont input:focus ~ label,
  .cr_in_d_form > div.incont select:focus ~ label,
  .cr_in_d_form > div.incont textarea:focus ~ label{
    color: #ff6291;
  }
  
  /* label color on filled state */
  .cr_in_d_form > div.incont input:not(:placeholder-shown) ~ label,
  .cr_in_d_form > div.incont select:not([value=""]):valid ~ label,
  .cr_in_d_form > div.incont textarea:not(:placeholder-shown) ~ label{
    color: rgba(0, 0, 0, 9);
  }
  
/*e*/


/* s */

.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 0.80rem !important;
    font-weight: 600;
    /* display: flex; */
  }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: #eaeaea;
  }
  
  /* .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  } */
  
  .styled-checkbox:checked + label:before {
    background: #1069e2;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
  
/* e */

/* s */
.order_det_titl
{
    text-decoration: none;
    color: #272d3b;
    font-weight: 900;
    font-size: 0.90rem;
}
.or_dw_tem
{
    display: inherit;
    align-items: center;
    justify-content: center;
}
.dw_tem_bt
{
    width: auto;
    line-height: 22px;
    padding-left: 15px;
    padding-right: 15px;
}
.up_tem_bt
{
    width: auto;
    line-height: 22px;
    padding-left: 15px;
    padding-right: 15px;
}
.order_det_list
{
    background-color: #fff;
    margin-top: 5px;
    padding:15px 15px 0 15px;
}
.order_det_list.Club_1
{
  background-color: #B0E0E6;
}
.order_det_list.Club_2
{
  background-color: #ADD8E6;
}
.order_det_list.Club_3
{
  background-color: #87CEFA;
}
.order_det_list.Club_4
{
  background-color: #87CEEB;
}
.order_det_list.Club_5
{
  background-color: #00BFFF;
}
.order_det_list.Club_6
{
  background-color: #B0C4DE;
}
.order_det_list.Club_7
{
  background-color: #1E90FF;
}
.order_det_list.Club_8
{
  background-color: #6495ED;
}
.order_det_list.Club_9
{
  background-color: #4682B4;
}
.order_det_list.Club_10
{
  background-color: #4169E1;
}
.order_det_list.Club_11
{
  background-color: #0000FF;
}
.order_det_list.Club_12
{
  background-color: #0000CD;
}
.order_det_list.Club_13
{
  background-color: #00008B;
}
.order_det_list.Club_14
{
  background-color: #000080;
}
.order_det_list.Club_15
{
  background-color: #191970;
}
.action_cont
{
    padding-right: 0px;
    padding-left: 0;
    text-align: right;
    padding-top: 4px;
}
.action_cont.oth_sugges
{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.action_cont.oth_sugges a
{
  margin-left: 5px;
}
.action_cont.oth_sugges a img
{
  width: 30px;
}
.action_cont a{display: inline-block;}
.action_cont a img{width: 40px;}
/* e */
/* Create Indent e */


/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    
  }
    .custom-select-wrapper select {
      display: none;
    }
    .custom-select {
      position: relative;
      display: inline-block;
      padding:0px;
      border-radius: 39px;
      line-height: inherit;
      height: initial;
    }
      .custom-select-trigger {
        position: relative;
        display: block;
        width: 180px;
        padding: 0 38px 0 20px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        line-height: 42px;
        background: #0969e2;
        border-radius: 30px;
        cursor: pointer;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px;
          height: 10px;
          top: 50%;
          right: 18px;
          margin-top: -3px;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      position: absolute;
      z-index: 1;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      min-width: 100%;
      margin: 4px 0;
      /* border: 1px solid #b5b5b5; */
      border-radius: 10px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #fff;
      transition: all .4s ease-in-out;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
      padding: 10px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: none;
        content: '';
        bottom: 100%;
        right: 25px;
        width: 7px;
        height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
        position: relative;
        display: block;
        padding: 0 18px;
        /* border-bottom: 1px solid #b5b5b5; */
        font-size: 0.90rem;
        font-weight: 600;
        color: #b5b5b5;
        line-height: 43px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: #0969e2;
        color: #fff;
        border-radius: 10px;
      }
/* Custom Select end */

/* s */
.view_ind_wr
{
    margin-left: -10px;
    margin-right: -10px;
}
.deli_pad
{
    padding-left: 10px;
    padding-right: 10px;
}
.delivery_in_progress
{
    background-color: #fff;
}
.delivery_in_progress.pdd_cus
{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.prg_tit_con
{
    font-size: 0.79rem;
    color: #030303;
    opacity: 0.6;
    line-height: initial;
    font-weight: 500;
}
.prg_dec_con
{
   font-size: 0.95rem;
    color: #030303;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
}
.prg_dec_con.pr_stops
{
    color: #0969e2;
    font-style: italic;
    font-weight: 500;
}
.prg_dec_con.out_time_ve
{
    color: #00c43a;
}
.view_trck_set
{
    background-color: rgba(255, 179, 44, 0.6);
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    margin-bottom: 18px;
}
.view_trck_set.deli_vered
{
    background-color: #a7dfb6;
}
.view_titl_st
{
    font-size: 1.1rem;
    font-weight: 700;
}
.cret_pdo
{
    width: 145px;
    line-height: 37px;

}
.div_con_trck
{
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.div_con_ti_s
{
    font-size: 1rem;
    color: #272d3b;
    line-height: initial;
    font-weight: 600;
}
.map_box
{
    padding-bottom: 20px;
}
.map_box img{
    width: 100%;
    height: 320px;
}
/* e */
.collapse.show
{
  background-color: #e4e4e4;
  padding-top: 20px;
  padding-left: 15px;
    padding-right: 15px;
}
.show_actions_con
{
  margin-left: -15px;
    margin-right: -15px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.crt_pdo_ti
{
    color: #272d3b;
    font-size: 1.0500rem;
    font-weight: 900;
}
.pdo_dtl
{
    text-decoration: none;
    color: #272d3b;
    font-weight: 900;
    font-size: 0.90rem;
}

/* Allocate vehicle s*/
.all_vh_til
{
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 5px 10px 5px 10px;
}
.sel_vh_typ
{
    font-size: 1rem;
    font-weight: 600;
    color: #030303;
    padding-left: 15px;
}
.grs_track
{
    display: inline-block;
    cursor: pointer;
}
.grs_track img
{
    width: 16px;
}
.lc_vh_tooltip
{
    width: 150px;
    padding: 12px;
}
.lc_tool_box
{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}
.lc_tool_box:last-child
{
    border: none;
}
.lc_tool_box p
{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.65rem;
    font-weight: 500;
    margin-bottom: 0px;
}
.lc_tool_box h4
{
    color: rgba(255, 255, 255, 9);
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.lc_tool_box h4.activ_gp
{
    color: #19d620;
    background-image: url(../images/gprs_active.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 14px;
}
/* Allocate vehicle e*/


/* tooltip s*/
.tippy-tooltip.custom-theme {
    background-color: #0a0d46;
    color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .tippy-tooltip.custom-theme[data-placement^=top] .tippy-arrow {
    border-top-color: #0a0d46;
  }
  .tippy-tooltip.custom-theme[data-placement^=bottom] .tippy-arrow {
    border-bottom-color: #0a0d46;
  }
  .tippy-tooltip.custom-theme[data-placement^=left] .tippy-arrow {
    border-left-color: white;
  }
  .tippy-tooltip.custom-theme[data-placement^=right] .tippy-arrow {
    border-right-color: white;
  }
 /* tooltip e */


/* s */
 .oth_sugg_cons
 {
  background: #fff;
  padding: 20px !important;
  font-size: 0.90rem;
  font-weight: bold;
  text-decoration: none;
  color: #0969e2;
 }
 .oth_sugg_cons a
 {
  color: #0969e2;
 }
 .oth_sugg_cons a:hover
 {
   text-decoration: none;
   color: #0969e2 ;
 }
.oth_title
{
  color: #272d3b;
  font-size: 1.2rem;
  font-weight: 700;
}
 /* e */